In [4]:
import pandas as pd
import requests
import io
import shapely
import matplotlib.pyplot as plt
import urllib
import numpy as np
import seaborn as sns

import functions as fn

## Data source 
https://www.opendataphilly.org/dataset/vehicular-crash-data/resource/d920c370-464c-4961-bdd0-1a071335750e
## Metadata
http://metadata.phila.gov/#home/datasetdetails/5543865420583086178c4eba/representationdetails/5c410c6431621f086214c7cd/?view_287_per_page=25&view_287_page=1

In [3]:
url ='https://phl.carto.com/api/v2/sql?q=SELECT+*+FROM+crash_data_collision_crash_2007_2017&filename= \
        crash_data_collision_crash_2007_2017&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator'
s = requests.get(url).content

In [29]:
# read the data into a pandas dataframe
data=pd.read_csv(io.StringIO(s.decode('utf-8')))

In [37]:
data.shape

(77462, 90)

In [38]:
data.head(2)

,wz_ln_closure,objectid_1,crn,district,county,municipality,crash_year,crash_month,day_of_week,time_of_day,...,bicycle_maj_inj_count,ped_count,ped_death_count,ped_maj_inj_count,max_severity_level,comm_veh_count,dec_lat,dec_long,rdwy_surf_type_cd,county_name
0,None,9498,2016019772,6,67,67301,2016,2,2,1515,...,0,1,0,0,3,0,40.0628,-75.0577,None,None
1,None,9570,2016013724,6,67,67301,2016,1,3,1100,...,0,0,0,0,3,0,40.0822,-74.9669,None,None

In [40]:
# print the unique values in each column containing object type
for c in data.columns:
    if data[str(c)].dtype == 'object':
        print(data[str(c)].unique())

['None' 'N' 'Y' 'U']
['None' '1' '2' '8' '3']
['None' '4' '2' '5' '8' '1' '3']
['N' 'Y']
['N' 'Y' 'None']
['N' 'None' 'Y']
['40 03:45.914' '40 04:55.794' '39 58:30.439' ... '40 00:07.660'
 '40 00:55.055' '39 52:55.210']
['75 03:27.576' '74 58:00.797' '75 11:40.428' ... '75 10:04.065'
 '75 04:04.781' '75 14:43.780']
['None' '50' '45' '55' '99' '90' '25' '35' '5' '20' '30' '40' '05' '15'
 '00' '10']
['None' '2' '1' '4' '9' '3' '5' '6']
['None' '3' '1' '2' '7' '4' '6' '5']
['N' 'None' 'Y']
['None' '0' '9' '4']
['None' 'N' 'Y' 'U']
['None' 'N' 'Y' 'U']
['None' 'N' 'Y' 'U']
['None' 'N' 'U' 'Y']
['None' 'N' 'U' 'Y']
['None' 'Y' 'N' 'U']
['None' 'N' 'Y' 'U']
['None' 'Y' 'N' 'U']
['None' '2' '1' '9' '3']
['None' 'Philadelphia' 'Montgomery' 'Bucks' 'Northumberland']

In [41]:
# replace all the empty strings
df = fn.replace_empty_strings(data, 'None')

In [42]:
df.head(2)

,wz_ln_closure,objectid_1,crn,district,county,municipality,crash_year,crash_month,day_of_week,time_of_day,...,bicycle_maj_inj_count,ped_count,ped_death_count,ped_maj_inj_count,max_severity_level,comm_veh_count,dec_lat,dec_long,rdwy_surf_type_cd,county_name
0,None,9498,2016019772,6,67,67301,2016,2,2,1515,...,0,1,0,0,3,0,40.0628,-75.0577,None,None
1,None,9570,2016013724,6,67,67301,2016,1,3,1100,...,0,0,0,0,3,0,40.0822,-74.9669,None,None

In [43]:
df.to_csv('../Data/raw_data.csv')